{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% block title %}
  Home
{% endblock title %}


{% block content %}

<section class="jlo">
    <div class="container">
         <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

        <p class="lead">  </p>
    </div>
  <!-- <img src="static/img/Los-Amigos-High-School.jpg" alt=""> -->

</section>


<!-- <section class="nu">
  <h3>hhnjchnnjf</h3> -->
  <!-- <img src="static/img/benz3.webp" alt=""> -->
<!-- </section> -->

<section class="sectry">
  <div class="container">
      <div class="row">
          <div class="col-md-4 hidden-sm hidden-xs">
              <div class="custom">
                  <img src="static/img/studentss.png" alt="" class="img-responsive wow slideInLeft">
              </div><!-- end module -->
          </div><!-- end col -->
          <div class="col-md-8">
              <div class="custom-module p40l">
                  <h2>We are a passionate <mark>learning system</mark> from<br>
                  London. Do beautiful and easy-to-use digital <br>
                  design & web development</h2>

                  <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime sapiente atque maiores, perferendis dolorem. Inventore similique beatae minus? Aspernatur. </p>

                  <hr class="invis">

                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                          <ul class="check">
                              <li>Custom Shortcodes</li>
                              <li>Visual Page Builder</li>
                              <li>Unlimited Shortcodes</li>
                              <li>Responsive Theme</li>
                              <li>Tons of Layouts</li>
                          </ul><!-- end check -->
                      </div><!-- end col-lg-4 -->
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <ul class="check">
                              <li>Font Awesome Icons</li>
                              <li>Pre-Defined Colors</li>
                              <li>AJAX Transitions</li>
                              <li>High Quality Support</li>
                              <li>Unlimited Options</li>
                          </ul><!-- end check -->    
                      </div><!-- end col-lg-4 -->
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                          <ul class="check">
                              <li>Shopping Layouts</li>
                              <li>Pre-Defined Fonts</li>
                              <li>Style Changers</li>
                              <li>Footer Styles</li>
                              <li>Header Styles</li>
                          </ul><!-- end check -->
                      </div><!-- end col-lg-4 --> 
                  </div><!-- end row -->   

                  <hr class="invis">

                  <div class="btn-wrapper">
                      <a href="#" class="btn btn-primary">Learn More About us</a>
                  </div>

              </div><!-- end module -->
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section>



<section class="section gb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Recent Courses</h3>
            <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
        </div><!-- end title -->

        <div class="row">

            {% if paginator %}
            {% for cro in paginator %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card">
                    <div class="card-header">
                        <img  class="img-fluid" src="{{cro.img.url}}" alt="{{cro.title}}">
                    </div>
                    <div class="card-body ">
                        <p class="lead"> {{cro.name|title}} </p>
                        <p class="lead"> {{cro.details|truncatewords:10}} </p>

                    </div>
                </div>
            </div>
            {% endfor %}  


            {% else %}
              <p class="lead">not courses yet</p>
            {% endif %}
            
            <!-- pagination  -->
            <!-- pagination  -->

            <div class="col-md-12 ">
                <ul class="pagination">
                    {% if paginator.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{paginator.previous_page_number}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      
                    {% else %}
                    <li class="page-item" disabled>
                        <a class="page-link" >
                          <span >&laquo;</span>
                        </a>
                      </li>
                    {% endif %}
                   
                    {% for item in paginator.paginator.page_range %}
                    {% if item == paginator.number %}
                    <li class="page-item active"><a class="page-link" href=""> {{item}} </a></li>
                      
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{item}} "> {{item}} </a></li>
                      
                    {% endif %} 
                      
                    {% endfor %}

                    

                    {% if paginator.has_next  %}
                      
                    <li class="page-item">
                        <a class="page-link" href="?page={{paginator.next_page_number}}" >
                          <span >&raquo;</span>
                        </a>
                      </li>
                    {% else %}
                    <li class="page-item" disabled>
                        <a class="page-link"  >
                          <span >&raquo;</span>
                        </a>
                      </li>
                      
                    {% endif %}
                    


                </ul>

            </div>

            
            
        </div>

        

        <hr class="invis">

        <div class="section-button text-center">
            <a href="#" class="btn btn-primary">View All Courses</a>
        </div>
    </div><!-- end container -->
</section>


<section class="section db p120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message text-center">
                    <h3>Howdy,  we have brought together the best quality services, offers, projects for you!</h3>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->

<section class="section gb nopadtop">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="boxx py-4">
                    <i class="flaticon-computer-tool-for-education"></i>
                    <h4>Learning system</h4>
                    <p>All sections required for online training are included to Edulogy.</p>
                    <a href="#" class="readmore">Read more</a>
                </div>
            </div><!-- end col -->

            <div class="col-md-6 ">
                <div class="boxx py-4">
                    <i class="flaticon-monitor-tablet-and-smartohone"></i>
                    <h4>Works all mobile devices</h4>
                    <p>The most important feature of this template is that it is compatible with all mobile devices. Your customers can also visit your site easily from tablets and phones.</p>
                    <a href="#" class="readmore">Read more</a>
                </div>
            </div><!-- end col -->

            <div class="col-md-3 ">
                <div class="boxx py-4">
                    <i class="flaticon-download-business-statistics-symbol-of-a-graphic"></i>
                    <h4>User Dashboard</h4>
                    <p>We designed the design of all the sub-pages needed for the users.</p>
                    <a href="#" class="readmore">Read more</a>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

        

        <div class="row">
            <div class="col-md-6">
                <div class="box py-4">
                    <i class="flaticon-html5"></i> <i class="flaticon-css-3"></i>
                    <h4>Compatible HTML5 & CSS3</h4>
                    <p>HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current version of the HTML standard.</p>
                    <a href="#" class="readmore">Read more</a>
                </div>
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="box py-4">
                    <i class="flaticon-html-coding"></i>
                    <h4>Bootstrap Framework</h4>
                    <p>Bootstrap is a technique of loading a program into a computer by means of a few initial instructions which enable the introduction of the rest of the program from an input device.</p>
                    <a href="#" class="readmore">Read more</a>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class=" hj ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">1230</h4>
                    <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i> Happy Students</h3>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">331</h4>
                    <h3><i class="flaticon-online-course"></i> Course Done</h3>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4">
                <div class="stat-count">
                    <h4 class="stat-timer">8901</h4>
                    <h3><i class="flaticon-coffee-cup"></i> Ordered Coffe's</h3>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. </p>
                </div><!-- stat-count -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

<section class="section">
    <div class="container py-4">
        <div class="section-title text-center">
            <h3>Testimonials</h3>
            <p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4">
                <div class="box testimonial">
                    <p class="testiname"><strong><img src="upload/testimonial_01.png" alt="" class="img-circle"> Jenny LUXURY</strong></p>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div><!-- end testimonial -->
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="box testimonial">
                    <p class="testiname"><strong><img src="upload/testimonial_02.png" alt="" class="img-circle"> Martin LEO</strong></p>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div><!-- end testimonial -->
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="box testimonial">
                    <p class="testiname"><strong><img src="upload/testimonial_03.png" alt="" class="img-circle"> John DOE</strong></p>
                    <p>Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div><!-- end testimonial -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock content %} 

